/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #E36414;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0F4C5C;
  color: #E3E36A;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .kelia {
  color: #CBFF8C;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.Contact-Me {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  background-color: #0F4C5C;
  color: #E3E36A;
  font-size: medium;
  text-align: center
  /* padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0F4C5C;
  text-align: center; */
}

/* .footer h2 {
  font-size: 20px;
} */

a {
  color:#CBFF8C;
  text-decoration: none;
  display: center;
  justify-content: space-around;
  width: 30%;
}

.profile {
  width: 200px;
  height: 200px;
}